body {
  font-family: sans-serif;
  margin: 0; /* Remove body margin for full-screen map */
}

#map {
  height: 100vh; /* Adjust as needed */
  width: 100%;
  position: relative; /* Important for positioning the search container */
}

#search-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); /* Center the container */
  z-index: 1000; /* Ensure the search bar is on top of the map */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
}

#search-form {
  display: flex;
}

#search_query {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
}

#suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  position: absolute;  /* Position it below the search input */
  top: 100%;           /* Place it right below the input */
  left: 0;
  width: 100%;          /* Match the input width */
  z-index: 1001;       /* Ensure it's above the map and search bar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
}

#suggestions li:hover {
  background-color: #f0f0f0;
}